.home-list-section{
    width: 100%;
    height: auto;
    padding: 50px 8vw;
}
.text-area{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-area h2{
    color: #3d3d3d;
    font-size: 36px;
    margin: 0;
}
.text-area p{
    width: 70%;
    padding:20px 0;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
}

.list-area{
    height: 78%;
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
}
#view-blogs-button{
    width: 200px;
}
#view-blogs-button button{
    width: 100%;
    height: 60px;
    border-radius: 48px;
    font-size: 20px;
}
#view-blogs-button button:hover{
    transform: 1.005;
}
.text-area #view-blogs-button span{
    font-size: 1.4em;
    margin-left: 16px;
}


/* list stle..... */
.list-area{
    height: 500px;
}

.list-area .card{
    flex: 0 0 auto;
    width: 32%;
    height: 100%;
}
.card .images{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;  
}
.card .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title h4{
    color: #3d3d3d;
    padding-left: 5px;
    font-size: 28px;
    margin: 10px;
}
.title h6{
    margin: 10px;
    margin-left: 15px;
}
.title p{
    margin: 0;
    line-height: 120%;
    font-size: 20px;
    margin-left: 15px;
    color: #404040;
}

#scroll-btn{
    background-color: rgba(255, 255, 255, 0.541);
    width: 50px;
    height: 100px;
    border-radius: 20px;
    color: #3d3d3d;
    position: absolute;
    position: sticky;
    top: 25%;
    right: 3%;
}

@media (max-width: 620px) {
    .text-area h2{
        font-size: 24px;
        margin: 0;
    }
    .text-area p{
        width: 100%;
        font-size: 10px;
        padding: 5px 0;
        width: 50vw;
    }
    .text-area #view-blogs-button button{
        font-size: 12px;
        height: 40px;
    }
    .text-area #view-blogs-button span{
        margin-left: 5px;
        font-size: 1.5em;
    }
    .list-area{
    height: 200px;
    }
    .home-list-section{
        padding-bottom: 0;
    }
    .card{
        width: 100%;
        height: 200px;
    }
    .card .images{
        height: 50%;
    }
    .card .images{
    border-radius: 10px;
    }
    .card h4{
        font-size: 10px;
        padding-left: 0px;
    }
    .card p{
        display: none;
    }
}