.similar-prod .list {
    height: auto;
    display: flex;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.similar-prod {
    padding: 10px 8vw 30px;
    width: 100%;
    height: auto;
}

.similar-prod #heading{
    color: #3d3d3d;
    font-size: 28px;
    margin: 10px;
}
@media (max-width: 620px) {
    .similar-prod #heading{
        font-size: 24px;
    }
    .card {
        width: 200px;
    }
    .card .img{
        width: 100%;
        height: 80%;
    }
    .card .img img{
        border-radius: 10px;
        width: 140px;
    }
    .card h1{
        font-size: 12px;
        padding: 5px;
    }
}