.checkout-main{
    width: 100%;
    height: 100vh;
    padding: 7vh 8vw;
    display: flex;
    justify-content: space-between;
}

.checkout-main .checkout-form{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #a4a4a4;
}
.checkout-main .checkout-form form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0 5%;
}
.checkout-main .head{
    width: 100%;
    height: 60px;
    background-color: #a4a4a4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.checkout-main .head H1{
    margin-right: 40%;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
.checkout-main .cart-details{
    border: 1px solid #a4a4a4;
    width: 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.checkout-main .persnoal-details, .billing{
    width: 100%;
    margin-top: 50px;
}
.checkout-main .persnoal-details .input, .billing .input{
    width: 45%;
    margin-bottom: 40px;
}
.personal-details .input input{
    width: 100%;
    border: 1px solid #a4a4a499;
    height: 35px !important;
}
.checkout-main .persnoal-details .input input, .billing input{
    width: 100%;
    border: 1px solid #a4a4a499;
    height: 35px !important;
}
.checkout-main .billing form{
    display: flex;
    flex-direction: column;
}
.checkout-main .billing form .cvv{
    display: flex;
    gap: 40px;
}
form #submit{
    border: none;
    height: 40px;
    width: 45%;
}
form #submit input{
    border-radius: 20px;
    background-color: black;
    color: white;
}
.checkout-main .cart-details .sub-heading,.cart-details-list, .product-list{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    font-size: 18px;
}
.product-list{
    width: 100%;
}
.cart-details{
    height: min-content;
    padding-bottom: 20px;
}
.cart-details p{
    margin: 0;
}
.cart-details .products-details{
    width: 45%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.cart-details-list p{
    font-size: 14px;
}
.cart-details .products-details p{
    width: 50%;
    display: flex;
    justify-content: right;
}
#chechout-cartdetails-qty{
    justify-content: center;

}
.cart-details h4{
    margin: 0;
}
.cart-details .subtotal{
    font-size: 18px;
    padding-left: 5%;
}
.cart-details .total-final, .shipping{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.payment-sucess{
    width: 50%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #a4a4a4;
}
.payment-sucess p{
    text-align: center;
}
.payment-sucess .buttons{
    display: flex;
    gap: 20px;
}
.payment-sucess button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.payment-sucess #right-btn{
    background-color: white;
    border: 2px solid black;
    color: black;
}
    #submit button{
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
    }
@media (max-width: 768px) {
    .checkout-main{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: min-content;
    }
    .checkout-main .checkout-form, .checkout-main .cart-details{
        width: 100%;
        height: min-content;
    }
    .checkout-main .persnoal-details .input, .billing .input{
        width: 90%;
        height: 20px;
        margin-bottom: 0px;
    }
    .checkout-main .persnoal-details, .billing {
        width: 100%;
        margin-top: 20px;
    }
    form #submit{
        width: 70%;
        margin: 20px auto 10px auto;
    }

    /* form  */
    .payment-sucess{
        width: 80%;
        height: 50%;
        gap: 20px;
    }
     .payment-sucess .buttons{
        justify-content: center;
     }
    .payment-sucess .buttons button{
        width: 40%;
        
    }
}